* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .nav_main {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border: 1px solid #e7e7e7;
      background-color: #dcdcdc;
    }
    
    li {
      float: right;
    }
    
    li a {
      display: block;
      color: #666;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: #ddd;
    }
    
    li a.active {
      color: white;
      background-color: green;
       padding:25px;
      
    }
    li a.notActive {
      color: rgb(0, 0, 0);
      background-color: #dcdcdc;
       padding:25px;
      
    }
  
  
  body {
    background: #f5f7f6;
  
  }
  /* Style for the footer */
  .footer {
    background-color: #dcdcdc;
  
  }
  
  .list_footer {
    display: flex;
    justify-content: space-around;
  }
  
  .list_footer li {
    margin-bottom: 10px;
    text-align:right ;
    
  }
  
  .list_footer a {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
    
  }
  
  .list_footer a:hover {
    color: green; /* Change to the desired hover color */
  }
  .footerlinks a{
    text-align: center;
    color: #000000;
    
  }
  
  .footerlinks p {
    
    text-align: left ;
    color: #000000;
  }




.form-box {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
   /* width: 450px;*/
    height: 600px;
    border-radius: 8px;
    background: rgba(233, 233, 233, 0.729);
    padding: 20px;
    width: 500px;
    text-align: center;
}
.form-box-password-changed{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 240px;
    border-radius: 8px;
    background: rgba(233, 233, 233, 0.729);
    padding: 20px;
    text-align: center;

}
.form-box-new-password{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 350px;
    border-radius: 8px;
    background: rgba(233, 233, 233, 0.729);
    padding: 20px;
    text-align: center;
}
.form-box-forgot-password{

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 300px;
    border-radius: 8px;
    background: rgba(233, 233, 233, 0.729);
    padding: 20px;
    text-align: center;
}
.form-box-code-verification{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 300px;
    border-radius: 8px;
    background: rgba(233, 233, 233, 0.729);
    padding: 20px;
    text-align: center;

}
.form-box-h1 {
    font-size: 20px;
    text-align: center;

}


input[type=text],
input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;

}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
}

button:hover {
    opacity: 0.7;
}

.Loginimg {
    text-align: center;
    position: relative;
    bottom: 17px;
    z-index: 1;
}
.code-VerificationImg{
    text-align: center;
    position: relative;
    bottom: -80px;
    z-index: 1;
}
.new-passwordImg{
    text-align: center;
    position: relative;
    bottom: -50px;
    z-index: 1;
}
.confirmation-password-changedImg{
    text-align: center;
    position: relative;
    bottom: -95px;
    z-index: 1;
}
.container {
    padding: 16px;

}

div.email-text-position {
    position: relative;
    right: -80px;
}

div.password-text-position {
    position: relative;
    right: -90px;
}

div.forget-password-text-position {
    position: relative;
    right: -70px;
}
